@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

@font-face {
  font-family: "bimbo_jve";
  src: url("../fonts/Bimbo_JVE.ttf") format("ttf");
}
@font-face {
  font-family: "alphakind";
  src: url("../fonts/Alphakind.ttf") format("ttf");
}
@font-face {
  font-family: "modules";
  src: url("../fonts/modules.ttf") format("ttf"),
    url("../fonts/modules.woff") format("woff");
}
@font-face {
  font-family: "socicon";
  src: url("../fonts/Socicon.woff") format("woff"),
    url("../fonts/Socicon.woff2") format("woff2");
}

:root {
  --main-color: #d02a2a;
}

body {
  background-color: #ffcc00;
  color: #fff;
  font-family: "bimbo_jve", "Roboto", sans-serif;
  background-image: linear-gradient(
      90deg,
      #ffcc00 40%,
      rgba(255, 204, 0, 0) 100%
    ),
    url(../images/splatter.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  min-height: 100vh;
}

@media only screen and (max-width: 760px) {
  body {
    background-image: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #990134;
  line-height: 23px;
  font-weight: 500;
  width: 100%;
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.logo img {
  width: 6rem;
}

.logo {
  padding: 1rem 0;
}

.wallet-btn {
  background-color: #009453;
  padding: 15px;
  border-radius: 8px;
  color: #ffcc00;
  font-family: "bimbo_jve";
}

.main-wrapper {
  margin: 6rem auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.left-side {
  border: 1px solid red;
  width: 60%;
}

.right-side img {
  width: 20rem;
}
